.container-cuciTangan {
    margin-left: 250px;
    display: block;
}

.descCuciTangan {
    display: inline-block;
    margin-left: 10px;
}

.img-cuciTangan {
    height: 70px;
    width: 100px;
    border-radius: 40px;
    padding-bottom: 10px;
}

.titleCuciTangan {
    text-align: left;
    bottom: 30px;
    font-size: 25px;
}

.h4{
    font-size: 20px;
    text-align: left;
}