

.container-penjelasan {
    margin-left: 250px;
    display: block;
}

.tittlePenjelasan {
    font-size: 24px;
    padding-top: 30px;
    text-align: justify;
}

.descPenjelasan {
    text-align: justify;
    padding-right: 55px;
}

.img-penjelasan {
    height: 250px;
    width: 250px;
    opacity: 0.2;
    display: block;
    position: absolute;
    top: 250px;
}