.container-tandaGejala {
    margin-left: 250px;
    display: block;
}

.tittleTandaGejala {
    font-size: 24px;
    padding-top: 30px;
}

.img-demam {
    height: 100px;
    width: 160px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.descDemam {
    display: inline-block;
    margin-left: 15px;
}

.img-batuk {
    height: 100px;
    width: 159px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.descBatuk {
    display: inline-block;
    margin-left: 15px;
}

.img-sesak {
    height: 100px;
    width: 159px;
    border-radius: 50%;
}

.descSesak {
    display: inline-block;
    margin-left: 15px;
}