.container-batukBersin {
    margin-left: 250px;
    display: block;
}

.tittleBatukBersin {
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
}

.img-batukBersin {
    height: 70px;
    width: 100px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.descBatukBersin  {
    display: inline-block;
    margin-left: 25px;
}
